.header {
    border: 2px solid black;
    display: flex;
}

.viewHighScores {
    display: flex;
    color: red;
    
    
};

header div {
    border: 1px solid gray;
    display: flex;
}

.cardTimer {
    display: flex;
    margin-left: auto;
}



.startPage {
    border: 1px solid gray;
    display: block;
}

.startPageHeader {
    border: 1px solid gray;
}

.startPageInstructions {
    border: 1px solid gray;
}

.startQuiz {
    border: 1px solid gray;
}

.quizMain {
    border: 1px solid black;
    display: none;
}


.allDonePage {
    display: none;
}

.correct {
    border: 1px solid black;
    display: none;
}

.incorrect {
    border: 1px solid black;
    display: none;
}

.highScoresPage {
    display: none;
}

.quizEndButtons {
    display: none;
}
