.header {
    border: 2px solid black;
    display: flex;
}

header div {
        display: flex;
        align-items: center;
}

.viewHighScores {
    display: flex;
    color: red;
    
    
};

header div {
    border: 1px solid gray;
    display: flex;
}

.cardTimer {
    display: flex;
    margin-left: auto;
}



.startPage {
    border: 1px solid gray;
    display: block;
}

.startPageHeader {
    border: 1px solid gray;
    margin: auto;
    display: flex;
    justify-content: center;
}

.pageHeader {
    margin: auto;
}

.startPageInstructions {
        border: 1px solid gray;
        display: flex;
        justify-content: center
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

.startQuiz {
    border: 1px solid gray;
}

.quizMain {
    border: 1px solid black;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    display: none;
}


.allDonePage {
    display: none;
    flex-direction: column;
    align-items: center;
}

.correctIncorrectBox {
        display: flex;
        justify-content: center;
}

.correct {
    border: 1px solid black;
    /* display: flex; */
    justify-content: center;
    /* display: none; */
}

.incorrect {
    border: 1px solid black;
    /* display: none; */
}

.highScoresPage {
    display: none;
    flex-direction: column;
    align-items: center;
}

.quizEndButtons {
    display: none;
}
